# Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Temporary files
*.tmp
*.log
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env